@import url(./header.css);
@import url(./form_item.css);
@import url(./item_list.css);

.home {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    font-size: var(--size-32);
  }
}


.containerItem {
  width: 80%;
  height: 70vh;
  display: inherit;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
}